<div id="contenido">

    <div id="seccion1">

        <div>
            <br><br><br><br><br>
            <audio src="./multimedia/audios/EXO   Fall.mp3" autoplay = "true" controls></audio>
        </div>
        <div class="titulos">
            <p>New Arrivals</p>
        </div>
        <div class="contenedor">
            <div class="slider" id="slider">
                <div class="slider__section">
                    <img src="./multimedia/imagenes/fondo1.png" class="slider__img">
                </div>
                <div class="slider__section">
                    <img src="./multimedia/imagenes/fondo2.jpg" class="slider__img">
                </div>
                <div class="slider__section">
                    <img src="./multimedia/imagenes/fondo3.jpg_large" class="slider__img">
                </div>
                <div class="slider__section">
                    <img src="./multimedia/imagenes/fondo4.png" class="slider__img">
                </div>
            </div>
            <div class="slider__btn slider__btn--right" id="btn-right">&#62;</div>
            <div class="slider__btn slider__btn--left" id="btn-left">&#60;</div>
        </div>
    
    </div>

    <div id="seccion2">
        <div class="titulos">
            <p>What to Read...</p>
        </div>
        
        <div id="fila1">
            <div class="cont" id="cuadro1">
                <div class="text-lista">
                    <p>BOOKS THAT <br> ARE MOVIES</p>
                </div>
            </div>
            <div class="contc" id="cuadro2">
                <div class="text-lista">
                    <p>BOOKS FOR EXISTENCIAL CRISIS</p>
                </div>
            </div>
            <div class="cont" id="cuadro3">
                <div class="text-lista">
                    <p>BOOKS TO <br> FALL IN LOVE</p>
                </div>
            </div>
        </div>

        <div id="fila2">
            <div class="cont2" id="cuadro4">
                <div class="text-lista">
                    <p>BOOKS FOR <br> SELF CONFIDENCE</p>
                </div>
            </div>
            <div class="cont2" id="cuadro5">
                <div class="text-lista">
                    <p>BOOKS THAT'LL <br> MAKE YOU CRY</p>
                </div>
            </div>
        </div>

    </div>
    
    <div id="seccion3">
        <div class="titulos">
            <p>Reviews</p>
        </div>
        <div id="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/yxlRgZExgnY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        
    </div>
    
</div>
<script src="./scripts/slider.js"></script>
<script src="./scripts/botonsubir.js"></script>