<br><br><br><br>
<div id="contenido">

    <div id="seccion1">
        <div class="titulos">
            <p>About Us</p>
        </div>

        <div id="contenedor">
            <div id="colum1">
                <div id="fondoimg">
                    <img src="./multimedia/imagenes/Logo1.png">
                </div>
            </div>

            <div id="colum2">
                <div class="cont">
                    <p class="titulos2">Misión</p>
                    <p class="parrafo">Ofrecer a nuestros clientes un buen servicio de compra y facilitar la adquisición de libros vía internet.</p>
                </div>
                <div class="cont">
                    <p class="titulos2">Visión</p>
                    <p class="parrafo">Ser reconocidos internacionalmente como una de las mejores tiendas online de libros.</p>
                </div>
                <div class="cont">
                    <p class="titulos2">Valores</p>
                    <p class="parrafo">• Confianza</p>
                    <p class="parrafo">• Calidad</p>
                    <p class="parrafo">• Responsabilidad</p>
                </div>
            </div>
        </div>

    </div>

    <div id="seccion2">
        <div id="add">
            <div id="addimg1"></div>
            <div id="addimg2"></div>
        </div>
    </div>
    
    
</div>
<script src="./scripts/botonsubir.js"></script>