<div id="titulo">
    <p>SUBSCRIBE TO OUR NEWSLETTER</p>
</div>

<div id="todo">
    <div id="Form">
    
        <form action="/Form" method="POST" name="Form">
            
            <div id="cont">
                <label class="titulo2" for="h">E-mail</label><br><br>
                <textarea name="Email" id="Email" cols="59" rows="1.5" placeholder="Email" required></textarea>
                <br>
                <br>
                
                <label class="titulo2" for="h">Name</label><br><br>
                <textarea name="Name" id="Name" cols="59" rows="1.5" placeholder="Name" required></textarea>
                <br>
                <br>
                
                <label class="titulo2" for="h">Favorite Genre</label><br><br>
                <textarea name="Favorite_Genre" id="Favorite_Genre" cols="59" rows="1.5" placeholder="Favorite Genre" required></textarea>
                <br>
                <br>
                
                <label class="titulo2" for="">You are a</label><br><br>
                <select name="Ocupation" id="Ocupation">
                    <option value="Reader">Reader</option>
                    <option value="Blogger">Blogger</option>
                    <option value="Bookstagrammer">Bookstagrammer</option>
                    <option value="Influencer">Influencer</option>
                    <option value="Distribuitor">Distribuitor</option>
                    <option value="Library">Library</option>
                </select>
            </div>
            
            <div id="cont2">
                <button class="EstiloButton" type="submit">SUBMIT</button>
            </div>
        </form>
    </div>
</div>
