<br><br><br><br>
<div id="contenido">

    <div id="seccion1">
        <div class="titulos">
            <p>Contacts</p>
        </div>

        <div id="contenedor">
            <div id="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.72491681639!2d-0.10659968467292309!3d51.49991531907207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876058538296a6b%3A0x2e2cdcb6029cd040!2sStarbucks!5e0!3m2!1ses-419!2sdo!4v1622157437683!5m2!1ses-419!2sdo" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div id="info">
                <div class="cont">
                    <p class="titulos2">Call Us</p>
                    <p class="parrafo">• 070-5136-5022</p>
                </div>
                <div class="cont">
                    <p class="titulos2">Adress</p>
                    <p class="parrafo">• Unit 4&5 Blackfriars Circus, 143 Blackfriars Rd, London SE1 8EL, Reino Unido</p>
                </div>
                <div id="boton">
                    <a href="./Form">SUBSCRIBE</a>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="./scripts/botonsubir.js"></script>