<br><br><br><br>
<div id="contenido">
    <div id="seccion1">
        <div class="titulos">
            <p>Books</p>
        </div>

        <div id="contenido2">
            <div id="menu">
                <div class="titulos2">Teens & YA</div>
                <div class="titulos2">Grafic Novels</div>
                <div class="titulos2">Fantasy</div>
                <div class="titulos2">Historical Fiction</div>
                <div class="titulos2">Horror</div>
                <div class="titulos2">Literary Fiction</div>
                <div class="titulos2">Manga</div>
                <div class="titulos2">Mystery & Crime</div>
                <div class="titulos2">Romance</div>
                <div class="titulos2">Science Fiction</div>
                <div class="titulos2">Thrillers</div>
                <div class="titulos2">General Fiction</div>
            </div>

            <div id="contenedor">
                <p>Teens & Young Adults</p>
                <div id="fila1">
                    <div class="cont3">
                        <img class="libros" src="./multimedia/imagenes/libro1.jpg">
                        <p>Cinder (The Lunar Chronicles Series #1)</p>
                    </div>
                    <div class="cont3">
                        <img class="libros" src="./multimedia/imagenes/libro2.jpg">
                        <p>Winter (The Lunar Chronicles Series #2)</p>
                    </div>
                    <div class="cont3">
                        <img class="libros" src="./multimedia/imagenes/libro3.jpg">
                        <p>Scarlet (The Lunar Chronicles Series #3)</p>
                    </div>
                </div>

                <div id="fila2">
                    <div class="cont3">
                        <img class="libros" src="./multimedia/imagenes/libro4.jpg">
                        <p>A Court of Thorns and Roses</p>
                    </div>
                    <div class="cont3">
                        <img class="libros" src="./multimedia/imagenes/libro5.jpg">
                        <p>A Court of Wings and Ruin</p>
                    </div>
                    <div class="cont3">
                        <img class="libros" src="./multimedia/imagenes/libro6.jpg">
                        <p>A Court of Mist and Fury</p>
                    </div>
                </div>

                <div id="fila3">
                    <div id="cont4">
                        <p>❮ 1 2 3 4 ⋯ 30 ❯</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="./scripts/botonsubir.js"></script>
