<div id="footer">
    <div id="footer-text">
        <div id="seccion4">
        <p class="foot-titulos">LOCATION</p>
        <p>Unit 4&5 Blackfriars Circus, 143 Blackfriars Rd, London SE1 8EL, Reino Unido</p>
    </div>
    <div id="seccion5">
        <p class="foot-titulos">SOCIALS</p>
        
        <img id="redes" src="./multimedia/imagenes/insta.png">
        <img src="./multimedia/imagenes/face.png" alt="">
        <img src="./multimedia/imagenes/twitter.png" alt="">
    </div>
    </div>
    <hr>
    <div id="seccion6">
        <p>ALL RIGHTS RESERVED. COPYRIGHT © 2021</p>
    </div>
    
</div>