<nav> 
    <div id="logo">
        <a href="/"><img src="./multimedia/imagenes/Logo5.png"></a>
    </div>
    <div id="botones">
        <ul>
            <li><a href="/">HOME</a></li>
            <li class="dropdown">
                <a href="/Books" class="drop-b">BOOKS</a>
                <div class="dropdown-content">
                    <a href="/Books">Teens & YA</a>
                    <a href="/Books">General Fiction</a>
                    <a href="/Books">Graphic Novels</a>
            </li>
            <li><a href="/AboutUs">ABOUT US</a></li>
            <li><a href="/Contacts">CONTACTS</a></li>
            </div>
        </ul>
        
    </div>
    
    <div id="extra">
        <img src="./multimedia/imagenes/cart.png" id="imags1">
        <img src="./multimedia/imagenes/user.png">
    </div>
</nav>
<div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div>
<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
