body{
    margin: 0;
}

/* Barra Navegación */
nav{
    display: flex;
    background-color: #005E55;
    width: 100%;
    height: 95px;
    font-weight: bold;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}
#logo{
    width: 20%;
    padding: 5.5px 30px;
}
#logo:hover{
    background-color: #04463f;
    padding: 8px 30px;
}
#botones{
    width: 60%;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
li{
    float: left;
}
li a{
    font-size: 25px;
    letter-spacing: 2px;
}
li a, .drop-b{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 31px 40px;
    text-decoration: none;
} 
li a:hover, .dropdown:hover .drop-b{
    background-color: #04463f;
} 
li.dropdown{
    display: inline-block;
} 
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 10px 0px #949494;
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: lighter;
    font-size: 15px;
    letter-spacing: 1px;
} 
.dropdown-content a:hover{
    background-color: #dadada;
}
.dropdown:hover .dropdown-content {
    display: block;
}
#extra{
    width: 10%;
    display: inline-flex;
    height: 65px;
}
#imags1 {
    border-right: solid 1px #ffffff;
    margin-bottom: 2px;
}
/* Barra Navegación */

/* Contenido */
.titulos{
    border-left: 1px black solid;
    padding-left: 10px;
    color: black;
    font-size: 40px;
    font-family: "Freestyle Script";
}

#contenido {
    margin: 1% 5%;
}
#seccion1 {
    padding: 0.1% 3% 3% 3%;
    margin-bottom: 2%;
}
.contenedor{
    width: 100%;
    max-width: 1200px;
    margin: auto 0;
    overflow: hidden;
    position: relative;
}
.slider{
    display: flex;
    width: 400%;
    height: 500px;
    margin-left: -100%;
}
.slider__section{
    width: 100%;
}
.slider__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider__btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.slider__btn:hover{
    background-color: #dadada;
}
.slider__btn--right{
    right: 10px;
}
.slider__btn--left{
    left: 10px;
}

#seccion2 {
    padding: 0.5% 3% 3% 3%;
}
#fila1{
    display: inline-flex;
    width: 100%;
    margin-bottom: 4%;
    color: #ffffff;
}
.cont {
    width: 350px;
    height: 250px;
    border-radius: 10px;
}
.contc {
    width: 350px;
    height: 250px;
    margin: 0 4%;
    border-radius: 10px;
}
.text-lista{
    font-weight: bold;
    font-size: 25px;
    border-left: 1px solid #ffffff;
    padding-left: 15px;
    margin: 160px 0 0 20px;
    width: 85%;
    background-color: #0000007e;
}
#cuadro1{
    background-image: url(./imagenes/movies2.png);
    background-size: cover;
}
#cuadro2{
    background-image: url(./imagenes/crisis.jpg);
    background-size: cover;
}
#cuadro3{
    background-image: url(./imagenes/love.jpg);
    background-size: cover;
}
#fila2{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    color: #ffffff;
}
.cont2 {
    width: 350px;
    height: 250px;
    margin: 0 2%;
    border-radius: 10px;
}
#cuadro4{
    background-image: url(./imagenes/confi2.jpg);
    background-size: cover;
}
#cuadro5{
    background-image: url(./imagenes/sad.jpg);
    background-size: cover;
}

#seccion3 {
    padding: 0.5% 3% 3% 3%;
}
#video{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}
/* Contenido */

/* Footer */
#footer {
    background-color: #005E55;
    width: 100%;
    height: 220px;
    color: #ffffff;
    display: flexbox;
}
#footer-text{
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot-titulos{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
}
#seccion4{
    text-align: center;
    width: 30%;
    margin: 0 60px;
    letter-spacing: 1px;
}
#seccion5{
    text-align: center;
    width: 30%;
    margin: 0 60px;
    letter-spacing: 1px;
}
#seccion6{
    text-align: center;
    letter-spacing: 1px;
}
/* Footer */