<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head',{ruta:"./css/AboutUs.css"}) %> 
</head>
<body>
    <header>
        <%- include('../partials/header') %> 
    </header>
    <main>
        <%- include('../partials/bodyAboutUs') %> 
    </main>
    <footer>
        <%- include('../partials/footer') %> 
    </footer>
</body>
</html>