<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head',{ruta:"./css/Form.css"}) %> 
</head>
<body>
    <header></header>
    <main>
        <%- include('../partials/bodyForm') %> 
    </main>
    <footer></footer>
</body>
</html>